<div class="contenedor-listaComponent" (click)="enviarDatos()">
    <main>
        <section class="contenedor-personaje">
            <img class="imagen" [src]="imagen">
            <div class="datos">
                <div class="datos-basicos">
                    <span><b>Nombre:</b> <br>{{nombre}}</span>
                    <span><b>Edad:</b> <br>{{edad}} años</span>
                </div>
                <span><b>Descripción:</b> <br>{{descripcion}}</span>
            </div>
        </section>
    </main>
</div>