<!-- <h1>Piedra Papel Tijera</h1>

<button mat-raised-button color="primary" (click)="realizarJugada('piedra')">Piedra</button>
<button mat-raised-button color="primary" (click)="realizarJugada('papel')">Papel</button>
<button mat-raised-button color="primary" (click)="realizarJugada('tijeras')">Tijeras</button>

<div *ngIf="jugadaMaquina">
    <p>La máquina eligió: {{ jugadaMaquina }}</p>
    <p>Resultado: {{ resultadoJuego }}</p>
</div> -->
<section class="contenedor-general">
    <mat-toolbar color="primary">Piedra, papel o tijera</mat-toolbar>
    <div class="vidas">
        <div class="corazonesJugador">
            <h3>Vidas Jugador</h3>
            <p *ngFor="let i of vidasJugadorArray" class="elementoCorazonesJugador">❤️</p>
        </div>
        <div class="corazonesMaquina">
            <h3>Vidas Máquina</h3>
            <p *ngFor="let i of vidasMaquinaArray" class="elementoCorazonesMaquina">❤️</p>
        </div>
    </div>
    <div class="consola">
        {{texto}} <br>
        {{texto2}} <br>
        {{texto3}}
    </div>
    <div *ngIf="eleccionMaquina">
        <p>La máquina eligió:</p>
        <div class="imagen-maquina" [ngClass]="{'piedra': eleccionMaquina === 'piedra', 'papel': eleccionMaquina === 'papel', 'tijeras': eleccionMaquina === 'tijeras'}">
            <img *ngIf="eleccionMaquina === 'piedra'" src="../../assets/images/piedrapng.png" alt="Piedra">
            <img *ngIf="eleccionMaquina === 'papel'" src="../../assets/images/papel.png" alt="Papel">
            <img *ngIf="eleccionMaquina === 'tijeras'" src="../../assets/images/tijeras.png" alt="Tijeras">
        </div>
        <p>Resultado: {{ texto3 }}</p>
    </div>
    
    <div class="selecciones">
        <div (click)="elegir('piedra')" class="eleccion piedra"></div>
        <div (click)="elegir('papel')" class="eleccion papel"></div>
        <div (click)="elegir('tijeras')" class="eleccion tijeras"></div>
    </div>
    <button mat-raised-button color="primary" (click)="reiniciarJuego()">Reiniciar Juego</button>
</section>