<!-- <h1>Piedra Papel Tijera</h1>

<button mat-raised-button color="primary" (click)="realizarJugada('piedra')">Piedra</button>
<button mat-raised-button color="primary" (click)="realizarJugada('papel')">Papel</button>
<button mat-raised-button color="primary" (click)="realizarJugada('tijeras')">Tijeras</button>

<div *ngIf="jugadaMaquina">
    <p>La máquina eligió: {{ jugadaMaquina }}</p>
    <p>Resultado: {{ resultadoJuego }}</p>
</div> -->
<section class="contenedor-general">
    <div class="vidas">
        <div class="corazonesJugador">
            <h3>Vidas Jugador</h3>
            <p *ngFor="let i of vidasJugadorArray" class="elementoCorazonesJugador">❤️</p>
        </div>
        <div class="corazonesMaquina">
            <h3>Vidas Máquina</h3>
            <p *ngFor="let i of vidasMaquinaArray" class="elementoCorazonesMaquina">❤️</p>
        </div>
    </div>
    <div class="consola">
        {{texto}} <br>
        {{texto2}} <br>
        {{texto3}}
        <div class="imagen-maquina">
          <img *ngIf="eleccionMaquina === 'piedra'" src="/assets/images/piedrapng.png">
          <img *ngIf="eleccionMaquina === 'papel'" src="/assets/images/papel.png">
          <img *ngIf="eleccionMaquina === 'tijeras'" src="/assets/images/tijeras.png">
        </div>
    </div>
    <div class="selecciones">
        <div (click)="elegir('piedra')" class="eleccion piedra"></div>
        <div (click)="elegir('papel')" class="eleccion papel"></div>
        <div (click)="elegir('tijeras')" class="eleccion tijeras"></div>
    </div>
    <button mat-raised-button color="primary" (click)="reiniciarJuego()" class="btnReiniciar">Reiniciar Juego</button>
</section>
